{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.6.1"},
    {riakc, {git, "https://github.com/linkdd/riak-erlang-client.git", {branch, "develop"}}},
    {emapred, {git, "https://github.com/linkdd/emapred.git", {tag, "v0.1.0"}}}
]}.

{relx, [
    {release, {graphbase, "0.1.0"}, [
        riakc,
        graphbase_core,
        graphbase_backend,
        graphbase_entity,
        graphbase_dsl,
        graphbase_apiserver,
        sasl
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [
    {prod, [{relx, [
        {dev_mode, false},
        {include_erts, true}
    ]}]}
]}.
